:root {
    --text-color-dark: rgb(153, 151, 114);
    --text-color-light: rgb(166, 164, 128);
    --serif: MariaClara, serif;
    --sans: PangeaAfrikanText-Light, sans-serif;
    --sans-italic: PangeaAfrikanText-LightItalic, sans-serif;
    --hilight: rgb(255, 201, 75);
  }
@font-face {
    font-family: MariaClara;
    src: url(fonts/ALTMariaClara-Regular.woff);
}
@font-face {
    font-family: PangeaAfrikanText-Light;
    src: url(fonts/PangeaAfrikanText-LightWeb.woff2);
}
@font-face {
    font-family: PangeaAfrikanText-LightItalic;
    src: url(fonts/PangeaAfrikanText-LightItalicWeb.woff2);
}

* {
    box-sizing:border-box;
    margin:0;
    padding:0;
}
*:before, *:after {
    box-sizing: border-box !important;
  }
body {
    background: black;
    font-size: 18px;
}
section {
    width: 90%;
    margin: 10% auto;
}
#title {
    margin: 50px auto;
}
header {
    position: fixed;
    right:5%;
    top:50px;
    z-index: 999;
}
header h1 {
    font-size: 1em;
    background: black;
    padding: 5px;
}
header a {
    color: var(--text-color-light);
}
header a:hover {
    color: var(--hilight);
}
header h1 span {
    font-size: 1.3em;
}
h1 {
    font-family: var(--serif);
  font-size: 9vw;
  color: var(--text-color-dark);
  line-height: 1.2;
  font-weight: normal;
}
h2 {
    font-family: var(--serif);
    font-size: 2.1em;
    color: var(--text-color-dark);
    line-height: 1.4;
    font-weight: normal;
}
h3{
    font-family: var(--serif);
    font-size: 1.6em;
    color: var(--text-color-light);
    line-height: 1.3;
    font-weight: normal;
}
h4 {
    font-family: var(--serif);
    font-size: 1.4em;
    color: var(--hilight);
    line-height: 1.3;
}
p {
    font-family: var(--sans);
    font-size: 1.2em;
    color: var(--text-color-dark);
    line-height: 1.4;
}

a {
    text-decoration: none;
    color: var(--text-color-light);
}
a:hover {
    color: var(--hilight);
}
i {
    font-family: var(--sans-italic);
}
.intro {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 80%;
}
.intro p {
    margin: 0 0 1em 0;
}
.intro ul {
    margin: 0 10%;
}
.intro li {
    font-family: var(--sans);
    font-size: 1.2em;
    color: var(--text-color-dark);
    line-height: 1.4;
    margin-bottom: 0.5em;
}
.more, .less {
    color: var(--hilight);
    font-family: var(--sans);
    text-transform: uppercase;
    font-size: 0.7em;
}
.more:hover, .less:hover {
    cursor: pointer;
    color: var(--text-color-dark);
}
.moretext {
    display: none;
}
#about h2 {
    font-size: 1.8em;
}
#about h2 a, .statement a {
    color: var(--hilight);
}
#about h2 a:hover, .statement a:hover {
    color: var(--text-color-dark);
}
.statement {
    margin: 10% auto 2em auto;
    padding: 2em 0;
    border-top: rgb(71, 69, 46) 1px solid;
}

/* --------------------------------------- HOME */
#home .card-group {
    margin-top: 10%;
    margin-bottom: 40%;
    position: relative;
}
#home .card {
    display: inline-block;
    margin: 0 2% 2% 0;
    background-color: rgb(19, 19, 14);
    border: 1px solid var(--text-color-dark);
    aspect-ratio: 2 / 3;
    width: 14%;
    opacity:0;
  }
.move-1, .move-2, .move-3, .move-4, .move-5 {
    background-color: rgb(19, 19, 14);
    border: 1px solid var(--text-color-dark);
    aspect-ratio: 2 / 3;
    width: 14%;
    position:absolute; 
    top:0;
    left:0;
    opacity: 0.1;
}
.case-group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2em;
}
.case {
    background-color: rgb(27, 27, 19);
    border: 1px solid var(--text-color-dark);
    padding: 3em;
    display: block;
    transition: all 0.5s;
    color: rgb(58, 57, 44);
}
.case:hover {
    background-color: rgb(0, 0, 0);
    border: 1px solid var(--text-color-light);
    color: var(--text-color-light);
}
.case:hover h3 {
    color: var(--text-color-light);
}
.case:hover h4 {
    color: var(--hilight);
}
.case img {
    width: 100%;
    height: auto;
    margin: 2em auto;
}
.case p {
    font-family: var(--sans);
    font-size: 1em;
    color: var(--text-color-dark);
    line-height: 1.3;
}

/* --------------------------------------- CURATION */
#d-curation .card-group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 3em;
    margin-top: 5%;
}
.card {
display: block;
width: 100%;
}
.card img {
    width: 100%;
    height: auto;
    filter: blur(6px);
    transition: all 0.5s;
}
.card:hover img {
    filter: blur(0px);
}
.blur {
    filter: blur(6px);
    transition: all 0.5s;
}
.blur:hover {
    filter: blur(0px);
    cursor:pointer;
}



/* --------------------------------------- CURATION : COUNTRY */
#d-country #country-group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5em;
}
.country-image {
    margin-bottom: 5em;
}
.country-image img {
    width: 100%;
    height: auto;
    margin-bottom: 1em;
}
.country-image p {
font-family: var(--sans);
font-size: 0.9em;
}
p.nypl-title {
    font-family: var(--serif);
    font-size: 1.2em;
    color: var(--text-color-light);
}

p.nypl-cite {
    font-size: 0.7em;
    word-wrap: break-word;
    display:inline-block;
    margin-top: 10px;
    color: var(--text-color-dark);
}


/* --------------------------------------- ERASURE */
#d-erasure .card-group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 3em;
}
nav {
    position: fixed;
    top:0;
    left: 0;
    padding: 1em;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    height: 100vh;
}

.b-one, .b-two, .b-three, .b-four, 
.circle-black, .circle-blue, .circle-white, .circle-red, .circle-yellow {
    height: 1em;
    width: 1em;
    border: 1px solid var(--text-color-dark);
}
.b-one:hover, .b-two:hover, .b-three:hover, .b-four:hover, 
.circle-black:hover, .circle-blue:hover, .circle-white:hover, .circle-red:hover, .circle-yellow:hover {
    cursor: pointer;
}
.active {
    background-color:  var(--text-color-light);
}

.circle-black, .circle-blue, .circle-white, .circle-red, .circle-yellow {
    border-radius: 50%;
}
.circle-black {
    background-color: black;
}
.circle-blue {
    background-color: blue;
}
.circle-white {
    background-color: white;
}
.circle-red {
    background-color: red;
}
.circle-yellow {
    background-color: yellow;
}
.col {
    display: flex;
    align-items: center;
    justify-content: center;
}
.one, .two, .three, .four {
width: 100%;
height: auto;
}
.one, .two, .three, .four {
    display: none;
    /*position: absolute;*/
}
.hidebottom {
    display: none;
}
/* --------------------------------------- MAGNIFICATION */
#d-magnification .card-group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 2em;
}

/* --------------------------------------- FOOTER */
footer {
    width: 90%;
    margin: 10% auto 2em auto;
    padding: 2em 0;
    border-top: rgb(71, 69, 46) 1px solid;
    display: flex;
}
footer p {
    font-size: 0.9em;
    color: var(--text-color-dark);
    width: 50%;
    text-align: right;
}
footer a {
    color: var(--text-color-dark);
}
footer p img {
    opacity: 0.6;
}
.fnav {
   list-style-type: none;
    font-size: 1em;
    color: var(--text-color-dark);
font-family: var(--serif);
width: 50%;
}
.ftitle {
    font-size: 1.2em;
    margin-bottom: 10px;
}

/* --------------------------------------- MEDIA QUERIES */

@media screen and (max-width: 1200px) {

    body {
        font-size: 16px;
    }
    #d-magnification .card-group, 
    #d-curation .card-group, 
    #d-erasure .card-group {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    #home h2 {
        font-size: 1.8em;
        line-height: 1.3;
    }
    .intro {
        width: 100%;
    }

}

@media screen and (max-width: 1000px) {
    .case-group {
        grid-template-columns: 1fr;
    }
    #d-magnification .card-group, 
    #d-curation .card-group, 
    #d-erasure .card-group {
        grid-template-columns: 1fr 1fr 1fr;
    }
    #d-country #country-group {
        grid-template-columns: 1fr 1fr;
    }
    nav {
        padding: 8px;
    }


}
@media screen and (max-width: 600px) {
    #d-magnification .card-group, 
    #d-curation .card-group, 
    #d-erasure .card-group {
        grid-template-columns: 1fr 1fr;
    }
    header {
        left: 5%;
        top: 0;
        width: 100%;
    }
    header h1 {
        padding: 20px 0;

    }
    #title {
        margin: 100px auto 50px auto;
    }
    nav {
        top: auto;
        bottom:0;
        left: 0;
        flex-direction: row;
        height: 50px;
        width: 100%;
    }
    #d-country #country-group {
        grid-template-columns: 1fr;
    }
    .hidebottom {
        display: inline;
    }
    .hideleft {
        display: none;
    }

    footer {
        display: block;
    }
    footer p {
        width: 100%;
        text-align: left;
        margin-top: 2em;
    }
    .fnav {
    width: 100%;
    }
    
}